#ignore editor backup files
*~

#ignore node-modules folder
node_modules/

#private docku stuff (to messy for public release)
dokusnippets.txt

#code from LightScytheJS that was the starting point for this
LightScytheJS/
